$background: oklch(95.514% 0.00011 271.152);
$foreground: oklch(0.141 0.005 285.823);
$primary: oklch(59.45% 0.22006 268.54);
$primary-foreground: oklch(0.97 0.014 254.604);
$secondary: oklch(81.093% 0.00009 271.152);
$secondary-foreground: oklch(0.21 0.006 285.885);
