.button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.2s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.primary {
  background-color: $primary;
  color: $primary-foreground;
}

.secondary {
  background-color: $secondary;
  color: $secondary-foreground;
}
