.cardInfo {
  img {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  .row {
    display: flex;
    align-items: start;
    column-gap: 2px;
    margin-bottom: 8px;
  }
  .rowStart {
    display: flex;
    align-items: start;
    column-gap: 2px;
  }
}
